<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\sources\ssis-dashboard"/>
    <add key="WSGI_HANDLER" value="dashboard.app"/>
    <add key="WSGI_LOG" value="C:\sources\ssis-dashboard\logs\wfastcgi.log"/>
    <add key="CONNECTION_STRING" value="DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=SSISDB;UID=;PWD="/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\apps\Python36-32\python.exe|C:\apps\Python36-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>
